<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Add a new person</title>
	</head>
	<body>
		<h1>Please enter the person details</h1>
		<form method="POST" th:action="person">
			<table>
				<tr>
					<td><form:label path="name">Name</form:label></td>
					<td><input type="text" path="name"></td>
				</tr>
				<tr>
					<td><form:label path="surname">Surname</form:label></td>
					<td><input type="text" path="surname"></td>
				</tr>
				<tr>
					<td><form:label path="email">E-mail</form:label></td>
					<td><input type="text" path="email"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</body>
</html>
